:root {
    --logo-bone-light: #d5e8e1;
    --logo-bone-dark: #a8bab2;
    --logo-fur-light: #82b3a8;
    --logo-fur-dark: #69938a;
    --logo-outline: #2b432f;

    --display-minWidth: 700px;
}
body,h2,h3,h4,h5,h6 { font-family: "Open Sans", sans-serif }
h1,button,.w3-bar,.w3-button { font-family: "Montserrat Alternates", sans-serif }

body {
   min-width: var(--display-minWidth);        /* Suppose you want minimum width of 1000px */
   width: auto !important;  /* Firefox will set width as auto */
   width: var(--display-minWidth);            /* As IE6 ignores !important it will set width as 1000px; */
}

.w3-button {
    padding: 10px;
    color: var(--logo-bone-light);
    background-color: var(--logo-outline);
}
.w3-button:hover {
    color: var(--logo-outline)!important;
    background-color: var(--logo-bone-dark)!important;
    font-weight: bold;
}
.empty { display: none!important; }
.moose-warn {
    background-color: orange;
    color: var(--logo-outline);
}
.moose-delete {
    background-color: tomato;
    color: var(--logo-outline);
}

/* popupu izskats */
.w3-modal-content > header, .w3-modal-content > footer{
    color: var(--logo-bone-light);
    background-color: var(--logo-outline);
}
.w3-row-padding { margin: 10px 0; }
input, textarea, select { background-color: var(--logo-bone-light); }